/* @media (max-width: 520px) {
    .container {
        height: 360px;
        width: 360px;
    }
} */

.container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}

.row {
   display: flex;
   /* height: 31.25px;  */
}

.item {
   border: #000 1px solid; 
   height: 60px;
   width: 60px;
}